body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: cornflowerblue;
    display: flex; /* Flexbox 사용 */
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    height: 100vh; /* 뷰포트 전체 높이 사용 */
    margin: 10;
    padding: 10;
}

h1, h3 {
    color: darkblue;
    margin: 20px 0;
}

h4 {
    background-color: white;
    color: gray;
    font-weight: bold;
    margin: 20px 0;
}

h5 {
    color: white;
    font-weight: normal;
    margin: 20px 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 25px;
    background-color: whitesmoke;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;

}

.bus-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
}

.bus-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: cornflowerblue;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 10px;
    color: inherit;
}

.bus-number {
    color: #ffffff;
    font-size: 1.2em;
    font-weight: bold;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    margin-right: 15px;
}

/* 각 항목의 배경색 설정 */
.bus-list .bus-item:nth-child(1) .bus-number { background-color: darkblue; }
.bus-list .bus-item:nth-child(2) .bus-number { background-color: blue; }
.bus-list .bus-item:nth-child(3) .bus-number { background-color: green; }
.bus-list .bus-item:nth-child(4) .bus-number { background-color: darkred; }
.bus-list .bus-item:nth-child(5) .bus-number { background-color: darkblue; }
.bus-list .bus-item:nth-child(6) .bus-number { background-color: red; }

.bus-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}

.bus-name {
    color: whitesmoke;
    font-size: 1em;
    text-align: left;
    font-weight: bold;
    flex: 1;
    min-width: 200px;
    max-width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button-container {
    display: flex;
    gap: 10px;
}

.delete-button, .edit-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    
}

.delete-button {
    background-color: darkred;
    color: white;
}

.delete-button:hover {
    background-color: darkred;
}

.edit-button {
    background-color: olive;
    color: white;
}

.edit-button:hover {
    background-color: #45a049;
    margin: 0px;
    padding: auto;
}

.button-container button:hover {
    transform: scale(1.1);
}